body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/* ------------------------- */
/* ESTILOS HEADER */
/* ------------------------- */
header{
    background: #333333;
    height: 60px;
}
header .info{
    display: flex;
    justify-content: space-around;
    margin: 0px;
}
header .info .datos{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    line-height: 35px;
}
header .info .datos .icon{
    display: flex;
    margin-right: 10px;
    justify-content: center;
    vertical-align: middle;
    height:36px;
    width:36px;  
}
header .info .datos1{
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    line-height:35px;
}
header p{
    color: #ffffff;
    margin: 0px;
}
header span.amarillo{
    color: #ef9f1e;
}
/* ------------------------- */
/* Seccion del logo */
/* ------------------------- */
#opciones{
    margin: 0px;
    padding: 0px;
}
#opciones .linea{
    display: flex;
    justify-content: space-around;
}
#opciones .linea .caja-img{
    display: flex;
    justify-content: center;
}
#opciones .linea img{
    width: 160px;
    height: 100px;
    padding: 5px;
}
#opciones .linea .caja-opciones{
    display: flex;
    justify-content: flex-end;
}
#opciones .caja-opciones .icon-menu {
    height: 30px;
    width: 44px;
    margin-right:0px;
}
#opciones .linea .caja-opciones a{
    margin-right: 2px;
    margin-left: 30px;
    text-decoration: none;
    color: #333333;
}
#opciones .linea .search{
    display: flex;
    justify-content: flex-end;  
}
#opciones .linea .search .box-search{
    display: flex;
}
#opciones .linea .search .icon-search {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 50px;
    position:relative;
    bottom:6px;
}
#opciones .menu{
    background: #f9a51c;
    height: 63px;
}
/* estilos del nuevo menu */
#opciones nav .container{
    margin-right: 24px;
}
#opciones nav .collapse {
    justify-content: flex-end;
}
#opciones nav {
    background: #f9a51c;
    padding: 0px;
}
#opciones nav ul li {
    border-left: white 1px solid;
}
#opciones nav ul li a {
    color: white;
    font-weight: bold;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opciones nav ul li a:hover {
    color: #f9a51c;
    background: white;
}
#opciones nav.fijo {
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 99;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/* ------------------------- */
/* ESTILOS DEL SLIDER */
/* ------------------------- */
#slider .slick-dots{
    bottom: 70px;
}
#slider.slick-dotted.slick-slider{
    margin-bottom: 0px;
}
#slider .slick-slide img{
    width: 100%;
}
/* ------------------------- */
/* ESTILO DEL SLIDER DE MARCAS */
/* ------------------------- */
#marcas{
    padding-bottom: 5%;
}
#marcas h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
}
#marcas .caja-marca{
    display: flex;
    justify-content: center;
}
/* ------------------------- */
/* ESTILO BANNER */
/* ------------------------- */
#banner{
    padding: 0px;
}
#banner img{
    width: 100%;
}
/* ------------------------- */
/* ESTILOS CARS */
/* ------------------------- */
#postsCarousel {
    background: #ece7e0;
    padding: 5% 0px;
}
#postsCarousel .carousel-item-prev,
#postsCarousel .carousel-item-next,
#postsCarousel .carousel-item.active {
    display: flex;
}


/* control image height */
#postsCarousel .card-img-top-250 {
    max-height: 225px;
    overflow: hidden;
}

/* smoother transitions */
#postsCarousel .carousel-inner > .carousel-item.next.left,
#postsCarousel .carousel-inner > .carousel-item.prev.right {
    transition: all 1s ease;
}
#postsCarousel p.description {
    text-align: center;
    color: #a3a3a4;
}
#postsCarousel p.price {
    text-align: center;
    color: #ec3a3e;
}
/* ------------------------- */
/* ESTILO CARDS SERVICIOS */
/* ------------------------- */
#service {
    padding-bottom: 5%;
}
#service h1{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bold;
}
#service .card{
    background: #eae9ea;
}
#service .card h3{
    font-size: 25px;
    font-weight: bold;
    color: #f9a51c;
    border-bottom: #b6b5b6 1px solid;
    padding: 10px;
    text-align: center;
}
#service .card .card-text {
    text-align: justify;
}
#service .card img {
    width: 100%;
}
/* ------------------------- */
/* ESTILOS S-HOME */
/* ------------------------- */
#s-home{
    background: #ec3c1c;
}
#s-home h1{
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bold;
}
#s-home .box{
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 5%;
}
/* ------------------------- */
/* ESTILOS PRODUCTOS */
/* ------------------------- */
#products h1{
    padding: 5% 0px;
    text-align: center;
    font-weight: bold;
}
#products .columna{
    margin:5px;
    padding: 0px;
}
#products .columna img{
    width: 100%;
}
/* ------------------------- */
/* ESTILOS BANNER2 */
/* ------------------------- */
#banner2{
    background: #339933;
}
#banner2 .row{
    display: flex;
    justify-content: center;
}
#banner2 p.office{
    margin-top: 16px;
    color: white;
    font-size: 25px;
}
#banner2 p.location{
    color: #cce5cc;
    font-size: 18px;
}
#banner2 .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#banner2 a{
    border: 1px white solid;
    background: #339933;
    color: white;
    font-weight: bold;
}
#banner2 a:hover{
    background: #40c440f6;
}
/* ------------------------- */
/* ESTILOS BENEFICIOS */
/* ------------------------- */
#benefits{
    padding-bottom: 5%;
}
#benefits .lineh{
    border-bottom:  #e0e4e7 2px solid;
}
#benefits .linev{
    border-right: #e0e4e7 2px solid;
}
#benefits .row .col{
    padding: 2%;
}
#benefits h1{
    padding: 5% 0px;
    text-align: center;
    font-weight: bold;
}
#benefits img{
    border: #ff854a 3px solid;
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 100px;
}
#benefits p.title{
    color: #ff6920;
    font-size: 25px;
    text-align: center;
}
#benefits p.text{
    color: #686767;
    font-size: 15px;
    text-align: center;
}
/* ------------------------- */
/* ESTILOS MAPA */
/* ------------------------- */
#map{
    margin: 0px;
    padding: 0px;
}
#map iframe{
   width: 100%;
   border: 0px;
   height: 400px;
}
/* ------------------------- */
/* ESTILOS CONTACTO */
/* ------------------------- */
#contact{
    background: #eeeeee;
    padding-bottom: 5%;
}
#contact h1{
    text-align: center;
    padding: 5% 0px;
    font-weight: bold;
}
#contact .container{
    display: flex;
}
#contact img{
    display: block;
    margin: auto;
}
#contact p{
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
}
#contact p.dir{
    display: block;
    width: 50%;
    margin: auto;
}
#contact label{
    color: #ff6920;
    font-weight: bold;
}
#contact button{
    background: #ff6b24;
    color: #fff;
    font-weight: bold;
}
#contact button:hover{
    background: #e86021;
}
/* ------------------------- */
/* ESTILOS LINEA NEGRA */
/* ------------------------- */
hr.line-black{
    background: #333333;
    height: 60px;
    margin: 0px;
}
/* ------------------------- */
/* ESTILOS PAGOS */
/* ------------------------- */
#payments{
    background: #f2f4f3;
}
#payments .col{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
#payments .right{
    background: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #93a1bb;
}
#payments .right .col{
    display: flex;
    justify-content: center;
}
#payments .right .col p{
    margin-right: 5%;
}
/* ------------------------- */
/* ESTILOS BANNER RECETAS */
/* ------------------------- */
#banner-recetas img,
#banner-cocina img,
#banner-tendencias img,
#banner-jugueteria img {
    width: 100%;
}
/* ------------------------- */
/* ESTILOS RECETA,  COCINA, TENDENCIAS, JUGUETES, EMPRESA */
/* ------------------------- */
#receta h1,
#cocina h1,
#tendencias h1,
#jugueteria h1 {
    padding: 5% 0px;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
}
#receta .image,
#jugueteria .image{
    padding: 0px;
}
#cocina .image,
#tendencias .image{
    padding-left: 5%;
}
#receta .text,
#cocina .text,
#tendencias .text,
#jugueteria .text {
    padding: 3%;
    text-align: justify;
    line-height: 2rem;
}
#receta h2,
#cocina h2{
    color: #f9a51c;
    padding: 5% 0px;
}
#receta img,
#cocina img,
#tendencias img,
#jugueteria img,
#empresa img {
    width: 100%;
    height: 100%;
}
#cocina .infor,
#tendencias .infor {
    margin-bottom: 5%;
}
#cocina .img3,
#tendencias .img3 {
    margin-bottom: 2.5%;
}
#cocina p b {
    color: #f9a51c;
    font-size: 20px;
}
#jugueteria h5 {
    font-weight: bold;
    color: #f9a51c;
}
#empresa .image{
    padding: 0px;
}
#empresa h1{
    font-weight: bold;
    text-align: center;
    padding-bottom: 5%;
}
#empresa .text {
    padding: 5%;
    text-align: justify;
    line-height: 2rem;
}
#empresa .dos {
    background: #eaedf2;
}
#empresa .mision-title {
    background: #4ba4e2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#empresa .mision-title h1,
#empresa .vision-title h1 {
    color: #fff;
    font-weight: bold;
}
#empresa .mision-text {
    text-align: justify;
    background-image: url("../img/empresa/mision.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    line-height: 2rem;
}
#empresa .mision-text p{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    background: #ffffff;
    padding: 10%;
    position: relative;
    right: 10%;
    border-radius: 1%;
}
#empresa .vision-text {
    text-align: justify;
    background-image: url("../img/empresa/vision.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    line-height: 2rem;
}
#empresa .vision-text p {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    background: #ffffff;
    padding: 10%;
    position: relative;
    z-index: 1;
    left: 10%;
    border-radius: 1%;
}
#empresa .vision-title {
    background: #ff8040;
    display: flex;
    justify-content: center;
    align-items: center;
}
#empresa h1.valores{
    padding: 5% 0px;
}
#empresa .fila{
    margin-bottom: 5%;
}
#empresa .end h4{
    text-align: end;
    color: #f9a51c;
    font-weight: bold;
}
#empresa .end p{
    margin-left: 15%;
    text-align: justify;
}
#empresa .start h4{
    text-align: start;
    color: #f9a51c;
    font-weight: bold;
}
#empresa .start p{
    margin-right: 15%;
    text-align: justify;
}
#empresa img.iconos {
    width: 25%;
}

/* ------------------------- */
/* ESTILOS SUCURSALES */
/* ------------------------- */
    #casa-ahued h1 {
        padding: 5% 0px;
        text-align: center;
    }
#casa-ahued img {
    width: 100%;
    height: 100%;
}
#casa-ahued .two{
    margin-right: 3px;
}
#casa-ahued p {
    height: 122px;
}
#casa-ahued iframe{
    width: 100%;
}
/* ------------------------- */
/* ESTILOS MEDIA JQUERY */
/* ------------------------- */
@media screen and (max-width: 1920px) {
    #s-home .container {
        height: 65vh !important;
    }
}
@media screen and (max-width: 991px) {
    header {
        display: none !important;
    }
    #opciones .linea{
        display: none;
    }
    #opciones nav {
        padding: .5rem 1rem;
    }
    #opciones nav .navbar-brand {
        color: white;
        font-weight: bold;
    }
    #opciones nav button{
        background: white;
    }
    #opciones nav .container {
        margin: auto;
    }
    #opciones nav ul li {
        border-left: none;
    }
    #opciones nav ul li a{
        justify-content:flex-start;
    }
}
@media screen and (max-width: 600px){
    #s-home .container {
        height: 50vh !important;
    }
}