﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/public/Site1.Master" CodeBehind="index.aspx.vb" Inherits="casa_ahued.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <section class="slider single-item" id="slider">
        <div><img src="img/slide/slider-01.jpg" alt="slide1"></div>
        <div><img src="img/slide/slider-02.jpg" alt="slide2"></div>
        <div><img src="img/slide/slider-03.jpg" alt="slide3"></div>
    </section>

    <section class="container" id="marcas">
        <h1>MARCAS</h1>
        <div class="slider autoplay">
            <div class="caja-marca"><img src="img/marcas/image-01.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-02.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-03.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-04.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-05.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-06.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-07.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-08.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-09.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-10.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-11.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-12.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-13.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-14.png" alt="logo"></div>
            <div class="caja-marca"><img src="img/marcas/image-15.png" alt="logo"></div>
        </div>
    </section>

    <section class="container-fluid" id="banner">
        <img src="img/banner.png" alt="banner">
    </section>

    <section class="container-fluid" id="cards">
        <div class="container">
            <div class="row">
                <!-- OFERTAS -->
                <div class="col-md-4">
                    <div class="card page" id="page1">
                        <div class="card-header">
                            OFERTAS
                        </div>
                        <img src="img/cards/oferta/ofertas-01.jpg" alt="Nuevo">
                        <div class="card-body">
                            <p class="card-text">Kit de cubiertos</p>
                            <p class="card-price">$315.00</p>
                        </div>
                    </div>
                    <div class="card page" id="page2">
                        <div class="card-header">
                            OFERTAS
                        </div>
                        <img src="img/cards/oferta/ofertas-02.jpg" alt="Nuevo">
                        <div class="card-body">
                            <p class="card-text">Taladro</p>
                            <p class="card-price">$815.00</p>
                        </div>
                    </div>
                    <div class="card page" id="page3">
                        <div class="card-header">
                            OFERTAS
                        </div>
                        <img src="img/cards/oferta/ofertas-03.jpg" alt="Nuevo">
                        <div class="card-body">
                            <p class="card-text">Taladro</p>
                            <p class="card-price">$215.00</p>
                        </div>
                    </div>
                    <div class="card page" id="page4">
                        <div class="card-header">
                            OFERTAS
                        </div>
                        <img src="img/cards/oferta/ofertas-01.jpg" alt="Nuevo">
                        <div class="card-body">
                            <p class="card-text">Kit de cubiertos</p>
                            <p class="card-price">$315.00</p>
                        </div>
                    </div>
                    <div class="card page" id="page5">
                        <div class="card-header">
                            OFERTAS
                        </div>
                        <img src="img/cards/oferta/ofertas-02.jpg" alt="Nuevo">
                        <div class="card-body">
                            <p class="card-text">Taladro</p>
                            <p class="card-price">$115.00</p>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul id="pagination-demo" class="pagination mt-3 justify-content-center">
                        </ul>
                        <a href="#" class="btn mt-3 btn-show btn-sm">VER TODAS</a>
                    </nav>
                </div>
                <!-- LO NUEVO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            LO NUEVO
                        </div>
                        <img src="img/cards/nuevo/nuevo-01.jpg" alt="Nuevo">
                        <div class="card-body">
                            <p class="card-text">Kit de herramientas</p>
                            <p class="card-price">$417.00</p>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination mt-3 pagination-sm">
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                        </ul>
                        <a href="#" class="btn mt-3 btn-show btn-sm">VER TODAS</a>
                    </nav>
                </div>
                <!-- LO MÁS VENDIDO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            LO MÁS VENDIDO
                        </div>
                        <img src="img/cards/vendido/vendido-01.jpg" alt="Nuevo">
                        <div class="card-body">
                            <p class="card-text">Toy Story 4</p>
                            <p class="card-price">$417.00</p>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination mt-3 pagination-sm">
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                        </ul>
                        <a href="#" class="btn mt-3 btn-show btn-sm">VER TODAS</a>
                    </nav>
                </div>


            </div>
        </div>
    </section>

    <section class="container-fluid" id="service">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>SERVICIOS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="img/service/venta-mostrador.jpg" alt="venta">
                        <div class="card-body">
                            <h3 class="card-title">VENTA EN MOSTRADOR</h3>
                            <p class="card-text">
                                Les brindamos servicio de venta de mostrador en cualquiera de nuestras
                                de nuestras ocho sucursales dentro de la ciudad de Xalapa, atendidos por nuestro
                                excelente equipo de colaboradores.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="img/service/tienda-online.jpg" alt="tienda">
                        <div class="card-body">
                            <h3 class="card-title">TIENDA EN LÍNEA</h3>
                            <p class="card-text">
                                Disfruta de nuestro nuevo servicio de tienda en línea.
                                Realizando compras y pagos de servicios de una manera más fácil y rápida.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="img/service/mayoreo-menudeo.jpg" alt="mayoreo">
                        <div class="card-body">
                            <h3 class="card-title">MAYOREO Y MENUDEO</h3>
                            <p class="card-text">
                                En Casa Ahued desarrollamos un programa de promoción para que nuestros
                                clientes se encuentren satisfechos con los mejores precios, por lo que manejamos ventas
                                al mayoreo y menudeo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="s-home">
        <div class="row">
            <div class="col">
                <h1>DALE UN TOQUE A TU HOGAR</h1>
            </div>
        </div>
        <div class="row box">
            <div class="container">
                <div data-target='1' class="slide slide--1">
                    <div class="slide__text slide__text--1">Tendencias</div>
                    <div class="slide__bg"></div>
                    <div class="slide__img">
                        <div class="slide__img-wrapper"> </div>
                    </div>
                    <div class="slide__bg-dark"></div>
                </div>
                <div data-target='2' class="slide slide--2" onclick="location.href='recetas.aspx'">
                    <div class="slide__text">Cocina</div>
                    <div class="slide__bg"></div>
                    <div class="slide__img">
                        <div class="slide__img-wrapper"> </div>
                    </div>
                    <div class="slide__bg-dark"></div>
                </div>
                <div data-target='3' class="slide slide--3">
                    <div class="slide__text">Recetas</div>
                    <div class="slide__bg"></div>
                    <div class="slide__img">
                        <div class="slide__img-wrapper"> </div>
                    </div>
                    <div class="slide__bg-dark"></div>
                </div>
                <div data-target='4' class="slide slide--4">
                    <div class="slide__text">Iluminación</div>
                    <div class="slide__bg"></div>
                    <div class="slide__img">
                        <div class="slide__img-wrapper"> </div>
                    </div>
                    <div class="slide__bg-dark"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="products">
        <div class="row">
            <div class="col">
                <h1>PRODUCTOS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col columna">
                <a href="img/products/producto-01.jpg" data-lightbox="roadtrip"><img src="img/products/producto-01.jpg" alt="productos" /></a>
            </div>
            <div class="col columna">
                <a href="img/products/producto-02.jpg" data-lightbox="roadtrip"><img src="img/products/producto-02.jpg" alt="productos" /></a>
            </div>
            <div class="col columna">
                <a href="img/products/producto-03.jpg" data-lightbox="roadtrip"><img src="img/products/producto-03.jpg" alt="productos" /></a>
            </div>
            <div class="col columna">
                <a href="img/products/producto-04.jpg" data-lightbox="roadtrip"><img src="img/products/producto-04.jpg" alt="productos" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col columna">
                <a href="img/products/producto-05.jpg" data-lightbox="roadtrip"><img src="img/products/producto-05.jpg" alt="productos" /></a>
            </div>
            <div class="col columna">
                <a href="img/products/producto-06.jpg" data-lightbox="roadtrip"><img src="img/products/producto-06.jpg" alt="productos" /></a>
            </div>
            <div class="col columna">
                <a href="img/products/producto-07.jpg" data-lightbox="roadtrip"><img src="img/products/producto-07.jpg" alt="productos" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col columna">
                <a href="img/products/producto-08.jpg" data-lightbox="roadtrip"><img src="img/products/producto-08.jpg" alt="productos" /></a>
            </div>
            <div class="col columna">
                <a href="img/products/producto-09.jpg" data-lightbox="roadtrip"><img src="img/products/producto-09.jpg" alt="productos" /></a>
            </div>
            <div class="col columna">
                <a href="img/products/producto-10.jpg" data-lightbox="roadtrip"><img src="img/products/producto-10.jpg" alt="productos" /></a>
            </div>
            <div class="col columna">
                <a href="img/products/producto-11.jpg" data-lightbox="roadtrip"><img src="img/products/producto-11.jpg" alt="productos" /></a>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="banner2">
        <div class="row">
            <div class="col-md-4">
                <p class="office">Visita nuestras sucursales</p>
                <p class="location">Encuentra la más cercana a tu localidad.</p>
            </div>
            <div class="col-md-4 button">
                <a href="#" class="btn">Sucursales</a>
            </div>
        </div>
    </section>

    <section class="container" id="benefits">
        <div class="row">
            <div class="col">
                <h1>BENEFICIOS DE COMPRAR EN CASA AHUED</h1>
            </div>
        </div>
        <div class="row lineh">
            <div class="col linev">
                <img src="img/icon/icon-02.png" alt="icon">
                <p class="title">Atención personalizada</p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos corporis blanditiis
                    natus.
                </p>
            </div>
            <div class="col linev">
                <img src="img/icon/icon-01.png" alt="icon">
                <p class="title">Respuestas inmediatas</p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos corporis blanditiis
                    natus.
                </p>
            </div>
            <div class="col">
                <img src="img/icon/icon-03.png" alt="icon">
                <p class="title">Productos innovadores</p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos corporis blanditiis
                    natus.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col linev">
                <img src="img/icon/icon-04.png" alt="icon">
                <p class="title">Buenos precios</p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos corporis blanditiis
                    natus.
                </p>
            </div>
            <div class="col linev">
                <img src="img/icon/icon-05.png" alt="icon">
                <p class="title">Amplia cobertura</p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos corporis blanditiis
                    natus.
                </p>
            </div>
            <div class="col">
                <img src="img/icon/icon-06.png" alt="icon">
                <p class="title">Disponibilidad</p>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos corporis blanditiis
                    natus.
                </p>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="map">
        <iframe title="mapa" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d240650.93145358225!2d-97.19234505412358!3d19.534279227070463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scasa%20ahued!5e0!3m2!1ses-419!2smx!4v1576283574362!5m2!1ses-419!2smx"></iframe>
    </section>
     <section class="container-fluid" id="contact">
            <div class="row">
                <div class="col">
                    <h1>CONTACTO</h1>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col">
                        <img src="img/icon/icon-email.png" alt="icon">
                        <p>info@example.com</p>
                        <p>info@example.com</p>
                        <p>info@example.com</p>

                        <img src="img/icon/icon-phone.png" class="mt-4" alt="icon">
                        <p>i(229) 178254</p>
                        <p>i(229) 178254</p>
                        <p>i(229) 178254</p>

                        <img src="img/icon/icon-home.png" class="mt-4" alt="icon">
                        <p class="dir">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex unde ad perferendis.</p>
                    </div>
                    <div class="col">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="name">NOMBRE</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="company">EMPRESA</label>
                                <input type="text" class="form-control" id="company">
                            </div>
                            <div class="form-group">
                                <label for="affair">ASUNTO</label>
                                <input type="text" class="form-control" id="affair">
                            </div>
                            <div class="form-group">
                                <label for="message">MENSAJE</label>
                                <textarea class="form-control" id="message" rows="9"></textarea>
                            </div>
                            <button type="submit" class="btn btn-lg btn-block">ENVIAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
</asp:Content>
